@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
  --cursor-color: #000;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
  --cursor-color: #fff;
}

.borderBlack {
  @apply border border-black/10;
}
