@import "react-vertical-timeline-component/style.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
  --cursor-color: #000;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
  --cursor-color: #fff;
}

.borderBlack {
  @apply border border-black/10;
}

.grecaptcha-badge { 
  visibility: hidden !important;
}

@media only screen and (min-width: 1170px) {
  /* ... (otras reglas) ... */

  /* Flechas izquierda */
   .vertical-timeline--two-columns .vertical-timeline-element--left .vertical-timeline-element-content-arrow {
      left: 100% !important; margin-left: -7px !important; border-left: 7px solid rgba(255, 255, 255, 0.5) !important; border-right: none !important; display: block !important;
  }
  /* Flechas derecha */
  .vertical-timeline--two-columns .vertical-timeline-element--right .vertical-timeline-element-content-arrow {
      left: -7px !important; border-right: 7px solid rgba(255, 255, 255, 0.5) !important; border-left: none !important; display: block !important;
  }
}